{% extends "layout.html" %}
{% block content %}
  <div class="content-section">
    <div class="form-wrapper">
      <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-grp">
          <legend class="border-botton mb-4">Delete Movie</legend>

          <div class="form-grp">
            {{ form.movie_id.label(class="form-control-label") }}

            {% if form.movie_id.errors %}
              {{ form.movie_id(class="form-control form-control-lg is-invalid") }}
              <div class="invalid-feedback">
                {% for error in form.movie_id.errors %}
                  <span>
                    {{ error }}
                  </span>
                {% endfor %}
              </div>
            {% else %}
              {{ form.movie_id(class="form-control form-control-lg") }}
            {% endif %}
          </div>

        </fieldset>
        <br/>
        <div class="form-grp">
          {{ form.submit(class="btn btn-outline-info") }}
        </div>
      </form>
    </div>
  </div>
{% endblock content %}
